{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Titre de la page -->
    <h1 class="h3 mb-4 text-gray-800">Tableau de bord</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card border-primary mb-3">
                <div class="card-header bg-primary text-white">Nombre d'Utilisateurs</div>
                <div class="card-body">
                    <h5 class="card-title">Parents: {{ nombre_parents }}</h5>
                    <h5 class="card-title">Professeurs: {{ nombre_professeurs }}</h5>
                    <h5 class="card-title">Élèves: {{ nombre_eleves }}</h5>
                    <h5 class="card-title">Total: {{ nombre_total_utilisateurs }}</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success mb-3">
                <div class="card-header bg-success text-white">Revenu des Cours</div>
                <div class="card-body">
                    <h5 class="card-title">Mensuel: {{ revenu_total_mensuel }} Mru</h5>
                    <h5 class="card-title">Annuel: {{ revenu_total_annuel }} Mru</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-info mb-3">
                <div class="card-header bg-info text-white">Statistiques des Cours</div>
                <div class="card-body">
                    <h5 class="card-title">Cours Unités: {{ nombre_cours_unite }}</h5>
                    <h5 class="card-title">Cours Packages: {{ nombre_cours_package }}</h5>
                </div>
            </div>
        </div>
    </div>

    <h2>Statut des Utilisateurs</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Type</th>
                    <th>Actifs</th>
                    <th>Inactifs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Parents</td>
                    <td>{{ parents_actifs }}</td>
                    <td>{{ parents_inactifs }}</td>
                </tr>
                <tr>
                    <td>Professeurs</td>
                    <td>{{ professeurs_actifs }}</td>
                    <td>{{ professeurs_inactifs }}</td>
                </tr>
                <tr>
                    <td>Élèves</td>
                    <td>{{ eleves_actifs }}</td>
                    <td>{{ eleves_inactifs }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
