{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Titre de la page -->
    <h1 class="h3 mb-4 text-gray-800">Tableau de bord</h1>

    <!-- Cartes -->
    <div class="row">

        <!-- Carte du nombre total d'utilisateurs -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total des utilisateurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombre_total_utilisateurs }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carte du revenu total mensuel -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Revenu total (Mensuel)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">MRU{{ revenu_total_mensuel }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carte du revenu total annuel -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Revenu total (Annuel)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">MRU{{ revenu_total_annuel }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-wave fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Statistiques des cours -->
    <div class="row">

        <!-- Carte du nombre de cours des parents -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Nombre de cours des parents</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombre_cours_parents }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carte du nombre de cours des professeurs -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Nombre de cours des professeurs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombre_cours_professeurs }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carte du nombre de cours des élèves -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Nombre de cours des élèves</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombre_cours_eleves }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}




